
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
  background-color: black;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

:root{
  --primary-clr: hsl(209, 23%, 22%);
  --secondary-clr:  hsl(207, 26%, 17%);
}